

body{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 8px;
  background-color: rgba(128, 128, 128, 0.178);
}

header .entete{
  width: 50px;
  height: 40px;
  display: inline-block ;
  justify-content: right;
  
}
.conteneur{
  display: inline-block;
  justify-content: center;
  border: solid rgba(0, 0, 0, 0.356);
  line-height: 2px 80% 10px
  width:
}
.haut{
  text-align: center;
}
article h1{
  text-transform: uppercase;
  color: #004d9a;
  text-align: center;
  border: #c1cf78;
}
article h2{
  text-transform: uppercase;
  color: #004d9a;
  text-align: center ;
}
article .haut h1{
  text-align: center;
  color: #004d9a;
  margin: 0 40px 0 40px;
  padding: 2px 0 2px 0;
  background-color: #c1cf78;
}
article .form .civilite{
  line-height: 5px;
}

article .haut span{
  font-size: larger;
}
article .civilite{
  width: 80%;
}
